<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Manage fleets, reimagined</h1>
    <p class="lead">See pilots location, current ship, ship they are going to bring (yes, even Drakes)</p>
  </div>
</div>
<div class="container" id="main">
  <div class="row">
    <div class="col" id="feature-list">
      <h2>Features</h2>
      <ul>
        <li>
          <h3 class="feature">Individual pilot location</h3>
          Shows who is slacking around in different system.
        </li>
        <li>
          <h3 class="feature">Individual pilot ship</h3>
          Shows pilot current shiptype and their willingness to refit into something else.
        </li>
        <li>
          <h3 class="feature">Reservation queue</h3>
          Not yet in staging system, but still want to join? Reservation queue solves the problem.
        </li>
        <li>
          <h3 class="feature">Web-based</h3>
          Get all the information you need about your fleet in one place – in your browser, mobile or tablet!
        </li>
      </ul>
    </div>
  </div>
</div>
