<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/normalize-3.0.1.css">
    <link rel="stylesheet" href="/linker/styles/main.css">
    <link rel="stylesheet" href="/linker/js/fancybox/jquery.fancybox.css">
    <!--STYLES END-->
  </head>
  <body>
    <header id="header">
      <h1 class="header_inline">RAISA</h1>
      <nav class="header_inline" id="header_nav">
        <!--<a href="">Очередь во флот</a>-->
        <!--<a href="">Фиты кораблей</a>-->
        <!--<a href="">Данные о пилоте</a>-->
        <a id="login_ask" href="javascript:void(0)">Запросить токен</a>
        <a id="login_check" href="javascript:void(0)">Подтвердить токен</a>
      </nav>
      <div class="header_inline" id="pilot_status">Ваш статус недоступен.</div>
    </header>
    <div id="main">
      <%- body %>
    </div>
    <footer id="footer">
      <p>&copy; 2014</p>
    </footer>

    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/jquery-1.11.1.min.js"></script>
    <script src="/linker/js/fancybox/jquery.fancybox.pack.js"></script>
    <script src="/linker/js/moment-2.7.0.min.js"></script>
    <script src="/linker/js/fuzzysteve.ship.js"></script>
    <script src="/linker/js/helpers.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/fancybox/jquery.fancybox.js"></script>
    <script src="/linker/js/main.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
