<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.css">
    <!--STYLES END-->
  </head>
  <body>
    <header id="header">
      <h1>RAISA</h1>
      <h2>Очередь во флот</h2>
      <div id="login-div">
        <span class="link" id="ask-login">Ask</span>
        <span class="link" id="check-login">Check</span>
      </div>
    </header>
    <div id="main">
      <%- body %>
    </div>
    <footer id="footer">
      <p>&copy; 2014</p>
    </footer>
    <audio id="notification" controls>
      <source src="/audio/pizzicato.ogg" type="audio/ogg">
      <embed height="50" width="100" src="/audio/pizzicato.ogg">
      <object height="50" width="100" data="/audio/pizzicato.ogg"></object>
    </audio>

    <!--SCRIPTS-->
    <script src="/min/production.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
