<h2>Текущий флот</h2>
<div id="fleet-status"></div>
<div class="main-data"></div>
<table id="fleet">
  <tr>
    <th id="actions-active">Действия</th>
    <th>Пилот</th>
    <th>Шиптайп</th>
    <th>Расположение</th>
    <th>Дата</th>
    <th>Статус</th>
    <th>Готов?</th>
  </tr>
</table>