<h2>Текущая очередь</h2>
<div class="queue-data"></div>
<table id="queue">
  <tr>
    <th id="actions-active">Действия</th>
    <th>Пилот</th>
    <th>Шиптайп</th>
    <th>Расположение</th>
    <th>Дата</th>
  </tr>
</table>